@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600;700&display=swap');

:root{
    --white: #fff;
    --purple: #4e00ca;
    --black: #000;
}

body{
    margin: 0;
    padding: 0;
}

#body{
    width: 100%;
    overflow: hidden;
}

.container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}